/* ---------------------- General styles ----------------------*/

:root {
  --primaty-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;

  --hero-background-color: #2f303a;
  --button-color: #f5f4fa;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primaty-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.button {
  border: 0;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

/* ---------------------- Header styles ----------------------*/

.logo-header {
  color: var(--primary-black-color);
}

.logo-header > span {
  color: var(--accent-color);
}

.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  letter-spacing: 0.02em;

  color: var(--primaty-text-color);
}

.link.current {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.mail-tel-section .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
}

.mail-tel-section .link:hover,
.mail-tel-section .link:focus {
  color: var(--accent-color);
}

/* ---------------------- Hero section ---------------------- */
.hero {
  background-color: var(--hero-background-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

.hero-button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.hero-button:hover,
.hero-button:focus {
  color: var(--primaty-text-color);
  background-color: var(--button-color);
}

/* ---------------------- Advantages section ---------------------- */
.advantages-li-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantages-text {
  font-size: 14px;
  line-height: 1.7;

  color: var(--secondary-text-color);
}

/* ---------------------- What we are doing section ---------------------- */

/* ---------------------- Our team section ---------------------- */
.our-team-section {
  background-color: var(--button-color);
}

.our-team-section li {
  background-color: var(--primary-white-color);
}

.our-team-section .our-team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.our-team-position {
  font-size: 16px;
  line-height: 1.19;

  color: var(--secondary-text-color);
}

/* ---------------------- !!! portfolio.html !!! ---------------------- */

/* ---------------------- Completed projects section ---------------------- */
.filer-button {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  color: var(--primaty-text-color);
  background-color: var(--button-color);
}

.filer-button:hover,
.filer-button:focus {
  color: var(--accent-color);
}

.filer-button.current {
  color: var(--accent-color);
}

.completed-projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.completed-projects-text {
  font-size: 16px;
  line-height: 1.87;

  color: var(--secondary-text-color);
}

/* ---------------------- Footer ---------------------- */
.footer-section {
  background-color: var(--hero-background-color);
}

.logo-footer {
  color: var(--primary-white-color);
}

.logo-footer > span {
  color: var(--accent-color);
}

.footer-address {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;

  color: var(--primary-white-color);
}

.footer-contact-info a {
  font-size: 14px;
  line-height: 1.71;

  color: rgba(255, 255, 255, 0.6);
}

.footer-contact-info .link:hover,
.footer-contact-info .link:focus {
  color: var(--accent-color);
}
